<div class="profile mb-2">
  <div class="profile__picture">
    <%= image_tag user.photo, alt: "profile" %>
  </div>
  <div class="profile__details">
    <h6 class="profile__details-name"><%= user.name.capitalize %></h6>
    <div class="posts_counter">Number of posts: <%= user.posts.count %></div>
  </div>
</div>
