<div class="profile mb-2">
  <div class="profile__picture">
    <img src="https://i.pravatar.cc/150?img=2" alt="profile" />
  </div>
  <div class="profile__details">
    <h6 class="profile__details-name"><%= user[:name] %></h6>
    <div class="posts_counter">Number of posts: <%= user[:posts] %></div>
  </div>
</div>
