<div class="container">  
  <div class="profile__container">
    <div class="profile mt-2 mb-2">
      <div class="profile__picture">
        <img src="https://i.pravatar.cc/150?img=2" alt="profile" />
      </div>
      <div class="profile__details">
        <h6 class="profile__details-name">User name</h6>
        <div class="posts_counter">Number of posts: 4</div>
      </div>
    </div>
    <div class="profile">
      <div class="profile__picture">
        <img src="https://i.pravatar.cc/150?img=2" alt="profile" />
      </div>
      <div class="profile__details">
        <h6 class="profile__details-name">User name</h6>
        <div class="posts_counter">Number of posts: 4</div>
      </div>
    </div>
  </div>
</div>