<div class="profile__container">
  <ul class="profile__list">
    <% (1..3).each do |n| %>
      <li class="profile__item">
        <%= link_to user_path(n) do %>
          <%= render partial: "user_card", locals: { user: { name: "user #{n}", posts: n } } %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
