<div class="container">  
  <div class="profile__container">
    <%= render partial: "user_card", locals: { user: { name: "user", posts: 1} } %>
    <div class="bio">
      <h5 class="bio__heading">Bio</h5>
      <p class="bio__text">
        Next, I ran the command below to reinstall my gems for the project: Next, I ran the command below to reinstall my gems for the project:
        Next, I ran the command below to reinstall my gems for the project:
      </p>
    </div>
    <ul class="post__list">
      <% (1..3).each do |n| %>
        <%= render partial: "posts/post_list", locals: { no: n } %>
      <% end %>
    </ul>
    <button class="btn">See all posts</button>
  </div>
</div>