<div class="container">  
  <div class="profile__container">
    <%= render partial: "user_card", locals: { user: { name: "user", posts: 1} } %>
    <div class="bio">
      <h5 class="bio__heading">Bio</h5>
      <p class="bio__text">
        Next, I ran the command below to reinstall my gems for the project: Next, I ran the command below to reinstall my gems for the project:
        Next, I ran the command below to reinstall my gems for the project:
      </p>
    </div>
    <ul class="post__list">
      <li class="post__item">
        <div class="post mt-2 mb-2">
          <h5 class="post__title">Post #1</h5>
          <p class="post__text">
            Next, I ran the command below to reinstall my gems for the project:
          </p>
          <div class="post__likes_comments_counter">
            <span>Comments: 3</span>, <span>Likes: 3</span>
          </div>
        </div>
      </li>
      <li class="post__item">
        <div class="post mt-2 mb-2">
          <h5 class="post__title">Post #2</h5>
          <p class="post__text">
            Next, I ran the command below to reinstall my gems for the project:
          </p>
          <div class="post__likes_comments_counter">
            <span>Comments: 3</span>, <span>Likes: 3</span>
          </div>
        </div>
      </li>
    </ul>
    <button class="btn">See all posts</button>
  </div>
</div>