<header>
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <%= link_to "New post", user_post_new_path(current_user.id), class: "nav__link" %>
      </li>
    </ul>
  </nav>
</header