<ul class="comment__list">
  <% comments.includes(:user).each do |c| %>
    <li class="comment__item">
      <span class="comment__item-user"><%= c.user.name  %>:  </span>
      <span class="comment__item-comment"><%= c.text %> </span>
    </li>
  <% end %>
</ul>