<div class="like__container">
  <% if post_liked_by?({ post: post, id: current_user.id }) %>
    <b class= "liked">Liked by you</b>
  <% else %>
    <%= form_with url: post_likes_path(post.id) do |form| %>
      <%= form.submit "Like", class: "like btn" %>
    <% end %>
  <% end %>
</div>