<div class="post mb-2 mt-2">
  <h5 class="post__title">Post <%= post[:title] %></h5>
  <p class="post__text">
    Next, I ran the command below to reinstall my gems for the project:
  </p>
  <div class="post__likes_comments_counter">
    <span>Comments: <%= post[:comments] %></span>, <span>Likes: <%= post[:likes] %></span>
  </div>
</div>