<li class="post__comment-item mb-2">
  <%= link_to user_post_path(@user.id, post.id) do %>
    <%= render partial: "post_card", locals: { post: post } %>
  <% end %>
  <% if post.comments.size > 0 %>
    <ul class="comment__list">
      <% post.comments.each do |c| %>
        <li class="comment__item">
          <span class="comment__item-user"><%= c.user.name.capitalize %>: </span>
          <span class="comment__item-comment"><%= c.text %></span>
        </li>
      <% end %>
    </ul>
  <% end %>
</li>