<div class="profile__container">
  <div class="post">
    <div class="header">
      <h5 class="post__title">Post <%= params[:id] %> by user <%= params[:user_id] %></h5>
      <div class="post__likes_comments_counter">
        <span>Comments: 3</span>, <span>Likes: 3</span>
      </div>
    </div>
    <p class="post__text">
      Next, I ran the command below to reinstall my gems for the project:
    </p>
  </div>
  <ul class="comment__list">
    <li class="comment__item">
      <span class="comment__item-user">Username: </span>
      <span class="comment__item-comment">Comment 1</span>
    </li>
    <li class="comment__item">
      <span class="comment__item-user">Username: </span>
      <span class="comment__item-comment">Comment 2</span>
    </li>
    <li class="comment__item">
      <span class="comment__item-user">Username: </span>
      <span class="comment__item-comment">Comment 3</span>
    </li>
  </ul>
</div>
